.footer {
    background-color: var(--dark-bg);
}

.footer-social-item {
    width: 44px;
    height: 44px;
    @extend %align;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--dur-and-func);
    &:hover,
    &:focus {
            background-color: var(--brand-color);
        }
}

.footer-social-icon {
    fill: var(--white-color)
}

.footer-container {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
}

.logo-footer {
    font-family: Raleway;
    @include font(26px, 700, 1.19);
    text-decoration: none;
    color: var(--white-color);
    letter-spacing: 0.03em;
}

.footer-list {
    display: flex;
    flex-direction: column;
    row-gap: 9px;
    margin-top: 20px;
}

.footer-social-links {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    margin-top: 12px;
}

.footer-link {
    color: var(--white-color);
    text-decoration: none;
    @include font(14px, 400, 1.71);
    letter-spacing: 0.03em;
    font-style: normal;
    transition: color var(--dur-and-func);
    &:hover,
    &:focus {
            color: var(--brand-color);
        }
}

.footer-social-links-headline {
    @include font(14px, 700, 1.14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer-social-list {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin-top: 20px;
}

.subscribe-box {
    margin-left: 93px;
    margin-top: 12px;
}

.subscribe-form {
    display: flex;
    align-items: center;
    column-gap: 12px;
    margin-top: 20px;
}

.subscribe-input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: transparent;
    padding-left: 16px;
}

.subscribe-submit-btn {
    width: 200px;
    height: 50px;
    background: var(--brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    @include font(16px, 700, 1.88);
    color: #FFFFFF;
    letter-spacing: 0.06em;
    border: none;
    @extend %align;
}

.submit-send-icon {
    margin-left: 10px;
}