.team-caption {
    @include font(16px, 500, 1.18);
    text-align: center;
    letter-spacing: 0.03em;
}

.team-details {
    @include font(16px, 400, 1.18);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--grey-text-color);
    margin-top: 10px;
}

.social-icon {
    fill: #AFB1B8;
    transition: fill var(--dur-and-func);
    .team-social-item:hover &,
    .team-social-item:focus &{
            fill: var(--white-color);
        }
}

.team-item-caption {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
}

.team {
    background-color: #F5F4FA;
}

.team-container {
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-list {
    padding-top: 50px;
    display: flex;
    column-gap: 30px;
}

.team-item-frame {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-social-list {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin-top: 16px;
}

.team-social-item {
    width: 44px;
    height: 44px;
    @extend %align;
    border-radius: 50%;
    transition: background-color var(--dur-and-func);
    &:hover,
    &:focus {
            background-color: var(--brand-color);
        }
}